src/DBInfo.Core/DBInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd" targetNamespace="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd">
	<xsd:element name="DBInfo" type="Database"/>
	<xsd:complexType name="Database">
		<xsd:sequence>
			<xsd:element name="Tables" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:element name="Table" type="Table"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Table">
		<xsd:sequence>
			<xsd:element name="TableName" type="xsd:string"/>
			<!-- xsd:element name="Columns" type="ArrayOfColumn" maxOccurs="1" minOccurs="1" / -->
			<!-- xsd:element name="ForeignKeys" type="ArrayOfForeignKey" maxOccurs="1" minOccurs="0" / -->
			<xsd:element name="PrimaryKeyName" type="xsd:string" minOccurs="0"/>
			<!-- xsd:element name="PrimaryKeyColumns" type="ArrayOfString" maxOccurs="1" minOccurs="0" / -->
			<!-- xsd:element name="Indexes" type="ArrayOfIndex" maxOccurs="1" minOccurs="0" / -->
			<xsd:element name="HasIdentity" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
