src/DBInfo.XMLDatabase/DBInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:db="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd" elementFormDefault="qualified">
	<xsd:element name="DBInfo" type="db:Database"/>
	<xsd:complexType name="Database">
		<xsd:sequence>
			<xsd:element name="Table" type="db:ArrayOfTable" minOccurs="0" maxOccurs="1" />			
			<xsd:element name="Procedure" type="db:Procedure" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Constraints" type="db:ArrayOfConstraint" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ForeignKey" type="db:ArrayOfForeignKey" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfTable">
		<xsd:sequence>
			<xsd:element name="Table" type="db:CreateTable" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="CreateTable">
		<xsd:sequence>
			<xsd:element name="TableName" type="xsd:string"/>
			<xsd:element name="Columns" type="db:ArrayOfColumn"/>
			<xsd:element name="HasIdentity" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="IdentitySeed" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="IdentityIncrement" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfColumn">
		<xsd:sequence>
			<xsd:element name="Column" type="db:Column" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ColumnType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Integer"/>
			<xsd:enumeration value="Varchar"/>
			<xsd:enumeration value="Char"/>
			<xsd:enumeration value="Decimal"/>
			<xsd:enumeration value="Float"/>
			<xsd:enumeration value="Memo"/>
			<xsd:enumeration value="Blob"/>
			<xsd:enumeration value="DateTime"/>
			<xsd:enumeration value="Bit"/>
			<xsd:enumeration value="SmallDateTime"/>
			<xsd:enumeration value="Money"/>
			<xsd:enumeration value="SmallInt"/>
			<xsd:enumeration value="Numeric"/>
			<xsd:enumeration value="GUID"/>
			<xsd:enumeration value="BigInt"/>
			<xsd:enumeration value="TinyInt"/>
			<xsd:enumeration value="Binary"/>
			<xsd:enumeration value="NVarchar"/>
			<xsd:enumeration value="RowID"/>
			<xsd:enumeration value="TimeStamp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Column">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Type" type="db:ColumnType"/>
			<xsd:element name="Size" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Precision" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Scale" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Nullable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Identity" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DefaultValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConstraintDefaultName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfForeignKey">
		<xsd:sequence>
			<xsd:element name="CreateForeignKey" type="db:CreateForeignKey" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateForeignKey">
		<xsd:sequence>
			<xsd:element name="TableName" type="xsd:string" />
			<xsd:element name="ForeignKeyName" type="xsd:string"/>
			<xsd:element name="RefTableName" type="xsd:string"/>
			<xsd:element name="Columns" type="db:ArrayOfForeignKeyColumn"/>
			<xsd:element name="DeleteCascade" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="UpdateCascade" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfForeignKeyColumn">
		<xsd:sequence>
			<xsd:element name="ForeignKeyColumn" type="db:ForeignKeyColumn" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForeignKeyColumn">
		<xsd:sequence>
			<xsd:element name="ColumnName" type="xsd:string" />
			<xsd:element name="RefColumnName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfString">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfIndex">
		<xsd:sequence>
			<xsd:element name="Index" type="db:Index" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Index">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Unique" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Clustered" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Columns" type="db:ArrayOfString"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfCheckConstraint">
		<xsd:sequence>
			<xsd:element name="CheckConstraint" type="db:CheckConstraint" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CheckConstraint">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Expression" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfTrigger">
		<xsd:sequence>
			<xsd:element name="Trigger" type="db:Trigger" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Trigger">
		<xsd:sequence>
			<xsd:element name="TableName" type="xsd:string"/>
			<xsd:element name="TriggerName" type="xsd:string"/>
			<xsd:element name="SourceCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfProcedure">
		<xsd:sequence>
			<xsd:element name="Procedure" type="db:Procedure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="Procedure">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="SourceCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfConstraint">
		<xsd:sequence>
			<xsd:element name="CreatePrimaryKey" type="db:CreatePrimaryKey" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="CreateCheckConstraint" type="db:CreateCheckConstraint" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreatePrimaryKey">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="Columns" type="db:ArrayOfString" />
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="CreateCheckConstraint">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="SourceCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>		
</xsd:schema>
