src/DBInfo.XMLDatabase/DBInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:db="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dbinfo.sourceforge.net/Schemas/DBInfo.xsd" elementFormDefault="qualified">
	<xsd:element name="DBInfo" type="db:StatementCollection"/>
	<xsd:complexType name="StatementCollection">
		<xsd:sequence>
			<xsd:element name="Statement" type="db:Statement" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Statement"/>
	<xsd:complexType name="CreateTable">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="Columns" type="db:ArrayOfColumn"/>
					<xsd:element name="HasIdentity" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="IdentitySeed" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="IdentityIncrement" type="xsd:integer" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfColumn">
		<xsd:sequence>
			<xsd:element name="Column" type="db:Column" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ColumnType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Integer"/>
			<xsd:enumeration value="Varchar"/>
			<xsd:enumeration value="Char"/>
			<xsd:enumeration value="Decimal"/>
			<xsd:enumeration value="Float"/>
			<xsd:enumeration value="Memo"/>
			<xsd:enumeration value="Blob"/>
			<xsd:enumeration value="DateTime"/>
			<xsd:enumeration value="Bit"/>
			<xsd:enumeration value="SmallDateTime"/>
			<xsd:enumeration value="Money"/>
			<xsd:enumeration value="SmallInt"/>
			<xsd:enumeration value="Numeric"/>
			<xsd:enumeration value="GUID"/>
			<xsd:enumeration value="BigInt"/>
			<xsd:enumeration value="TinyInt"/>
			<xsd:enumeration value="Binary"/>
			<xsd:enumeration value="NVarchar"/>
			<xsd:enumeration value="RowID"/>
			<xsd:enumeration value="TimeStamp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Column">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Type" type="db:ColumnType"/>
			<xsd:element name="Size" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Precision" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Scale" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Nullable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Identity" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DefaultValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConstraintDefaultName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateForeignKey">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="ForeignKeyName" type="xsd:string"/>
					<xsd:element name="RefTableName" type="xsd:string"/>
					<xsd:element name="Columns" type="db:ArrayOfForeignKeyColumn"/>
					<xsd:element name="DeleteCascade" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="UpdateCascade" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfForeignKeyColumn">
		<xsd:sequence>
			<xsd:element name="ForeignKeyColumn" type="db:ForeignKeyColumn" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForeignKeyColumn">
		<xsd:sequence>
			<xsd:element name="ColumnName" type="xsd:string"/>
			<xsd:element name="RefColumnName" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfString">
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateIndex">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="IndexName" type="xsd:string"/>
					<xsd:element name="Unique" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Clustered" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="Columns" type="db:ArrayOfIndexColumn"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ArrayOfIndexColumn">
		<xsd:sequence>
			<xsd:element name="IndexColumn" type="db:IndexColumn" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndexColumn">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Order" type="db:SortOrder"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SortOrder">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Ascending"/>
			<xsd:enumeration value="Descending"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CreateCheckConstraint">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="CheckConstraintName" type="xsd:string"/>
					<xsd:element name="SourceCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreateTrigger">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="TriggerName" type="xsd:string"/>
					<xsd:element name="SourceCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreateProcedure">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="SourceCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreatePrimaryKey">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="PrimaryKeyName" type="xsd:string"/>
					<xsd:element name="Columns" type="db:ArrayOfString"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreateFunction">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="SourceCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreateSequence">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="Initial" type="xsd:integer"/>
					<xsd:element name="MinValue" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="MaxValue" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="Increment" type="xsd:integer"/>
					<xsd:element name="CycleOnLimit" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreateView">
		<xsd:complexContent>
			<xsd:extension base="db:Statement">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="SourceCode" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
